body {
  font-family: 'Montserrat', sans-serif;
}

select {
  border: 0 !important;
  background: #2c3e50;
}

.custom-select {
  display: flex;
  position: relative;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  margin: 10px auto;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

.custom-select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  transition: .25s all ease;
}

.custom-select:hover::after {
  color: #f39c12;
}