body {
  font-family: 'Montserrat', sans-serif;
}

select {
  border: 0 !important;
  background: #2c3e50;
}

.custom-select {
  display: flex;
  position: relative;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  margin: 10px auto;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

.custom-select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  transition: .25s all ease;
}

.custom-select:hover::after {
  color: #f39c12;
}

.questions-container {
  display: flex;
  flex-direction: column;
}

.single-question {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.sub-container {
  border: 1px solid white;
  background-color: #009688;
  color: black;
  padding: 30px;
}

.difficulty {
  flex-basis: 10%;
  text-align: center;
}

.category {
  flex-basis: 28%;
  text-align: center;
  background-color: #80CBC4;
}

.question {
  cursor: pointer;
  flex-basis: 60%;
}

.question:hover {
  background-color: #4DB6AC;
}

.loading {
  margin: 150px auto;
}